.help {
    display: none;
    z-index: 10000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    .help-container {
        width: 750px;
        height: 614px;
        position: absolute;
        top: calc(50vh - 307px);
        left: calc(50vw - 375px);
        background-color: #fff;
        border-radius: 4px;
        .outer {
            width: 100%;
            height: 100%;
            .inner {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 25px;
                color: #ccc;
                transform: translate(-50%, -50%);
                font-family: var(--mdc-typography-headline6-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
            }
        }
        .presentation {
            top: 10px;
            position: relative;
            width: 750px;
            height: 550px;
            overflow: hidden;
            background-color: #fff;
            iframe {
                position: relative;
                left: 8px;
                top: -8px;
                margin-left: -10px;
                width: 755px;
                height: 570px;
            }
        }
        .help-links {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
        }

        .mdc-dialog__actions {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}